.login {
    border: solid 2px lightblue;
    margin: 0 auto;
    display: inline-block;
}


.input {
    margin-top: 7px;
    margin-right: 10px;
    margin-left: 5px;
    display: inline-block;
    float: right;
}

.logPas {
    margin-top: 7px;
    margin-left: 5px;
    display: inline-block;
    float: left;
    clear: left;
    text-align: right;
}

.logBtn {
    background-color: cadetblue;
    color: snow;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    float: right;
}

.errorMsg {
    color: darksalmon;
}

